DATABASE_URL="postgresql://user:password@host/db?sslmode=require"
DIRECT_URL="postgresql://user:password@host/db?sslmode=require"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
MAIL_FROM_NAME="EDOTEAM"
MAIL_FROM_EMAIL=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="https://votre-backend.onrender.com/auth/google/callback"

# URLs
FRONTEND_URL="https://votre-frontend.vercel.app"
BACKEND_URL="https://votre-backend.onrender.com"
PORT=3000
